@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td {
  border: 1px solid #535b6a;
  border-collapse: collapse;
}

.marker {
  background-color: yellow;
  font-weight: bold;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
